footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #0e0d0d;
  padding: 10px 20px;
  margin-top: 100px;
}
.footer-content {
  display: flex;
  position: sticky;
  bottom: 0;
  justify-content: center;
  color: #0e0d0d;
  padding: 10px 20px;
}
